.header_style {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: #6cee6c;
  padding: 2em;
}

.header_style li {
  margin: 0 1em;
}

.header_style svg {
  font-size: 1.5em;
  cursor: pointer;
  color: #dd5a5a;
}
